@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    font-size: 62.5%;
    
    --color1: #2B2D42;
    --color2: #8D99AE;
    --color3: #EDF2F4;
    --color4: #EF233C;
    --color5: #D90429;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    font-size: 1.6rem;
    background-color: var(--color3);
}

/* Header */

header{
    padding: 1rem 2.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color1);
}
header > img:nth-child(1){
    width:100px;
}
header > img:nth-child(2){
    width:50px;
}

/* Main */

main{
    display: flex;
    min-height: 100vh;
}
main > nav{
    flex: 1;
    border-right: 1px solid var(--color2);
}
main nav ul{
    margin-left: 1rem;
    margin-right: 1.5rem;
    margin-top: 3rem;
}
main nav ul li{
    list-style: none;
    margin-top: 0.5rem;
    padding: 0.3rem 0.8rem;

    border-radius: 10px;

    background-color: var(--color4);
    transition: 300ms all;
    cursor: pointer;
}
main nav ul li:hover{
    background-color: #e2152d;
}
main nav ul li > a{
    text-decoration: none;
    color: var(--color3);
}
main > article{
    flex: 6;
    margin-right: 4rem;
    margin-left: 2.5rem;
}
main article > h1{
    font-size: 4.3rem;
    margin-top: 3rem;
    color: var(--color1);
}
main article > h2{
    color: var(--color1);
    margin-block: 1.4rem;
}
main article > figure{
    margin-top: 1.5rem;

    width: 100%;
}
main article figure > img{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
main article > p{
    font-size: 1.8rem;
    margin-block: 1.6rem;
}
main article > span{
    display: block;
    text-align: end;

    font-size: 1.1rem;

    margin-bottom: 3rem;
}

/* Footer */

footer{
    width: 100%;

    background-color: var(--color5);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2.5rem;
    padding-block: 1rem 0.5rem;
}
footer > section:nth-child(1) > span{
    color: var(--color3);
    cursor: default;
}
footer > section:nth-child(1) > span > span{
    color: var(--color2);
}
footer > section:nth-child(2) > img{
    width:80px;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--color2);
    border-radius: 10px;
}